#greeting{
  color:black;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  margin-bottom: 30px;
  font-size:80px;
  width:600px;
  font-weight:800;
  text-align: center;
}

@media screen and (max-width:720px){
  #greeting{
    font-size:50px;
    width:380px;
    font-weight:800;
  }
}
