#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__input{
  width:438px;
  height:68px;
  font-size: 47px;
  margin-bottom: 20px;
  border-radius: 15px;
  border:2px solid rgba(0,0,0,0);
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;
}

.login-form__input:hover{
  border:2px solid rgba(0,0,0,1);
}


.login-form__input:active, .login-form__input:focus{
  
  border:2px solid rgba(0,0,0,1);
  box-shadow: none !important;
  outline: none !important;
}

.login-form__btn:active, .login-form__btn:focus{
  border:none !important;
  box-shadow: none !important;
  outline: none !important;
}

.login-form__btn{
  width:438px;
  height:68px;
  font-size: 47px;
  border-radius: 30px;
  background-color:black;
  border:0px;
  color:white;
  box-sizing:border-box;
  transition: font-size 0.2s ease-in-out;
  
}

.login-form__btn:hover{
  cursor: pointer;
}

.login-form__btn:hover, .login-form__btn:active, .login-form__btn:focus{
  font-size:40px;
}
